// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles 
body,
html, 
.body {
  background: #f3f3f3 !important;
}

.candlemania {
  .header {
    .login {
      span {
        color: $candlemania-primary-color;
      }
    }
  }

  .navigation {
    .container {
      background-color: $candlemania-primary-color;
    }
  }

  .main {
    .title-decoration {
      background: $candlemania-primary-color;
    }
  }

  .footer {
    .button {
      table td {
        border-color: $candlemania-primary-color;
        background: $candlemania-primary-color;
      }
    }
  }
}

.homeville {
  .header {
    .login {
      span {
        color: #e8ac3c;
      }
    }

  }

  .navigation {
    .container {
      background-color: $homeville-primary-color;
    }
  }

  .main {
    .title-decoration {
      background: $homeville-secondary-color;
    }
  }

  .footer {
    .button {
      table td {
        border-color: $homeville-secondary-color;
        background: $homeville-secondary-color;
      }
    }
  }
}

.header {
  .inn {
    padding: 10px 0;
    position: relative;
  }

  .header-link {
    display: inline-block;
    margin: 0 auto;
  }

  .login {
    margin-right: 10px;
    margin-top: 10px;
    float: right;
    font-size: 13px;
    color: $white;
    background: $secondary-color;
    border-radius: 4px;
    padding: 5px 8px;

    span {
      color: $primary-color;
      text-decoration: underline;
    }
  }

  .header-logo {
    @media only screen and (max-width: #{$global-breakpoint}) {
      width: 120px;
    }
  }
}

.navigation {
  .container {
    background-color: $primary-color;
  }

  .menu {
    table {
      width: 100%;
    }

    .menu-item {
      border-right: 1px solid rgba($white,.2);

      &:last-child {
        border-right: 0;
      }

      a {
        font-size: 14px;
        color: $white;
      }
    }
  }
}

.main {
  h1 {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
  }

  .title-decoration {
    margin: 0 auto 10px auto;
    display: inline-block;
    width: 60px;
    height: 4px;
    background: $primary-color;
  }
}

.footer {
  .container {
    background: $secondary-color;
    color: $white;
  }

  .caption {
    color: $light-gray;
    font-size: 13px;
    display: block;
    margin-bottom: 5px;
  }

  address {
    font-size: 11px;
    color: $light-gray;
    font-style: normal;
  }
  
  .col {
    position: relative;
  }

  .social-link {
    display: inline-block;
    margin-right: 5px;
  }

  .is-heureka {
    margin-right: 65px;
  }

  .heureka {
    position: absolute;
    top: 0;
    right: 0;
    width: 57px;
    display: inline-block;
  }
  
  .button {
    text-transform: uppercase;
  }
}

.bigger-padding {
  .columns {
    &.first {
      padding-left: 30px;
    }

    &.last {
      padding-right: 30px;
    }
  }

  @media only screen and (max-width: #{$global-breakpoint}) {
    .columns {
      &.first {
        padding-left: $global-padding;
      }

      &.last {
        padding-right: $global-padding;
      }
    }
  }
}

.pb0 {
  .columns {
    padding-bottom: 0!important;
  }
}