---
subject: mini template
---

<wrapper class="header">
	<container class="header-container">
		<row class="collapse pb0">
			<columns small="12">
				<a href="{{{ translate 'candlemania.global.login_url' }}}" class="login">{{{ translate 'candlemania.global.login_caption' }}} <span>{{{ translate 'candlemania.global.login_value' }}}</span></a>
			</columns>
		</row>
		<row class="collapse">
			<columns small="12" class="inn">
				<center>
					<a class="header-link" href="{{{ translate 'candlemania.global.url' }}}" class="text-center">
						<img class="header-logo" src="{{{ translate 'candlemania.global.logo' }}}" alt="{{{ translate 'candlemania.global.alt' }}}">
					</a>
				</center>
			</columns>
		</row>
	</container>
</wrapper>


<wrapper class="navigation">
	<container>
		<menu class="small-vertical">
			{{#each (translate 'candlemania.nav')}}
			<item href="{{ this.url }}">{{ this.title }}</item>
			{{/each}}
		</menu>
	</container>
</wrapper>

<wrapper class="main">
	<container>

		<spacer size="20"></spacer>

		<row>
			<columns small="12">
				<h1 class="text-center">{{{ translate 'candlemania.main_title' }}}</h1>
				<p class="text-center">
					<span class="title-decoration"></span>
				</p>
				<p class="text-center">
					{{{ translate 'candlemania.main_description' }}}
				</p>
			</columns>
		</row>


		<row class="collapse">
			<columns small="12">
				<center>
					<a href="{{ translate 'candlemania.doprava_url' }}">
						<img src="{{ translate 'candlemania.doprava_image' }}" alt="{{ translate 'candlemania.doprava_alt' }}" width="806" style="width: 100%;max-width: 806px;">
					</a>
				</center>
			</columns>
		</row>

		<row>
			<columns large="6">
				<center>
					<a href="{{ translate 'candlemania.banner1_url' }}">
						<img src="{{ translate 'candlemania.banner1_image' }}" alt="{{ translate 'candlemania.banner1_alt' }}" width="374" style="width: 100%;max-width: 374px;">
					</a>
				</center>
			</columns>
			<columns large="6">
				<center>
					<a href="{{ translate 'candlemania.banner2_url' }}">
						<img src="{{ translate 'candlemania.banner2_image' }}" alt="{{ translate 'candlemania.banner2_alt' }}" width="374" style="width: 100%;max-width: 374px;">
					</a>
				</center>
			</columns>
		</row>

	</container>
</wrapper>

<wrapper class="footer">
	<container>

		<spacer size="20"></spacer>

		<row>
			<columns large="4">
				<strong class="caption">{{ translate 'candlemania.footer_col1.caption' }}</strong>
				<address>
					{{{ translate 'candlemania.footer_col1.content' }}}
				</address>
			</columns>
			<columns large="4">
				<div class="col">
					<strong class="caption">{{ translate 'candlemania.footer_col2.caption' }}</strong>
					<address class="{{#if (translate 'candlemania.footer_heureka')}}is-heureka{{/if}}">
						{{{ translate 'candlemania.footer_col2.content' }}}
					</address>

					{{#if (translate 'candlemania.footer_matracove_url')}}
					<spacer size="10"></spacer>
					<button href="{{ translate 'candlemania.footer_matracove_url' }}" class="primary tiny">{{ translate 'candlemania.footer_matracove_caption' }}</button>
					{{/if}}

					{{#if (translate 'candlemania.footer_heureka')}}
					<div class="heureka">
						<img align="right" src="{{ translate 'candlemania.footer_heureka' }}" alt="Heureka" width="57" style="width: 100%;max-width: 57px;">
					</div>
					{{/if}}
				</div>
			</columns>
			<columns large="4">
				<strong class="caption">Sociální sítě</strong>
				<a href="{{ translate 'candlemania.facebook_url' }}" class="social-link">
					<img src="{{ translate 'candlemania.facebook_image' }}" alt="Facebook">
				</a>
				<spacer size="10"></spacer>
				<address>
					© 2019 UP AND DOWN s.r.o., IČ: 02000075
				</address>
			</columns>
		</row>

	</container>
</wrapper>